@model WorkShop1.Models.Enrollment

@{
    ViewData["Title"] = "Create";
}

<h1 style="color:blueviolet; font-weight:bolder">Create</h1>

<h4 style="color:deeppink; font-weight:bolder">Enrollment</h4>
<hr />
<hr />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CourseID" class="control-label" style="color:red; font-weight:bolder; font-size:larger"></label>
                <select asp-for="CourseID" class="form-control" asp-items="ViewBag.CourseID" style="color:red"></select>
            </div>
            <div class="form-group">
                <label asp-for="StudentID" class="control-label" style="color:forestgreen; font-weight:bolder; font-size:larger"></label>
                <select asp-for="StudentID" class="form-control" asp-items="ViewBag.StudentID" style="color:forestgreen"></select>
            </div>
            <div class="form-group">
                <label asp-for="Semester" class="control-label" style="color:darkorange; font-weight:bolder; font-size:larger"></label>
                <select asp-for="Semester" class="form-control" asp-items="ViewBag.Semester" style="color:darkorange">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
                <span asp-validation-for="Semester" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label" style="color:blue; font-weight:bolder; font-size:larger"></label>
                <input asp-for="Year" class="form-control"  style="color:blue"/>
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
